@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #2a1e5c;
  --secondary-color: #3cbbb1;
  --accent1-color: #ee4266;
  --accent2-color: #8c3061;

  --heading-font: 'Roboto', serif;
  --paragraph-font: 'Roboto', sans-serif;

  --nav-background-color: #80c3be;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #ee4266;
  --nav-hover-background-color: #cccccc;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
